<%= render partial: "layouts/header2" %>

<div class="aboutus">

<h2>About Us</h2>


<p> Bacon ipsum dolor amet landjaeger tail cupim tri-tip kevin capicola. T-bone fatback tenderloin kielbasa sausage pork chop. Cow cupim turkey pancetta pork chop pork belly porchetta tri-tip alcatra kevin. Rump flank jerky ball tip kielbasa meatball ribeye filet mignon landjaeger beef ribs tongue ground round strip steak shankle. Beef ribs tenderloin strip steak, picanha tongue kielbasa andouille tail ribeye. Cow turkey pork loin ham. Biltong cow tail boudin, turkey ham hock pork belly t-bone strip steak landjaeger meatball. </p>
</br>
<p>
Chicken pork loin bacon, jerky filet mignon rump kevin turducken brisket swine ham tongue. Shankle brisket cupim pastrami flank spare ribs meatball picanha andouille. Capicola cow picanha pig porchetta venison chicken doner ham hock ground round ribeye turducken. Venison ham hock pork jerky meatloaf, flank ribeye chicken. </p>
</br>
<p>
Ball tip flank brisket, cow turducken beef landjaeger strip steak chuck jowl ham hock. Venison tenderloin tail tongue biltong kevin short ribs ground round chicken leberkas flank sirloin cupim. Kevin pancetta short ribs corned beef pork, beef ribs shankle andouille ground round bresaola tri-tip pig swine frankfurter. Pig turkey short ribs swine pork chop shank drumstick spare ribs ground round cow corned beef flank leberkas brisket. Brisket pig corned beef pork flank salami. </p>

</div>