<%= render partial: "layouts/header2" %>

<div class="aboutus">

<h1 id="faqheader">Frequently Asked Questions</h1>
<!-- <h5  style="text-align:center">Click to reveal</h5> -->



<div class="faq_container">

</br>

<div class="faq">
   <div class="faq_question">How large or small an event can you cater for?</div>
        <div class="faq_answer_container">
           <div class="faq_answer">The are no set numbers or average. We can provide entertainment and organise private parties for 15 guests in at their home through to events for over 1500 people.
</div>
        </div>        
</div>
</br></br>
   <div class="faq">
      <div class="faq_question">What types of events can Little to Large manage?</div>
           <div class="faq_answer_container">
              <div class="faq_answer"><ul><li>Charity Balls, Dinner Dances, Awards Ceremonies, Christmas Parties and other Seasonal Events, Themed Events, Family Fun Days</li>
    <li>Marketing Events, Product Launches, Launch Parties, Marketing Campaigns, Fashion Shows, Press Launches</li>
    <li>Conferences, Presentations, Away Days, Incentives, Team Building</li>
    <li>Private Parties, Birthdays, Bar & Bat Mitzvahs</li></br></ul></div>
           </div>        
    </div>

    </br></br>

    <div class="faq">
       <div class="faq_question">How much is an event going to cost me?</div>
            <div class="faq_answer_container">
               <div class="faq_answer"> Each event is unique, each client has their own specific requirements therefore it is difficult to provide ballpark figures. We would however suggest that you register online or send us an email so we can discuss your requirements and we will then provide a proposal outlining all associated costs.</div>
            </div>        
    </div>

    </br></br>

    <div class="faq">
       <div class="faq_question">Can I pay online?</div>
            <div class="faq_answer_container">
               <div class="faq_answer">Not yet, but this functionality is coming soon!</div>
            </div>        
    </div>

    </br></br>

    <div class="faq">
       <div class="faq_question">What are your contact details?</div>
            <div class="faq_answer_container">
               <div class="faq_answer">All our details are at the bottom of the page, otherwise, make an event and comment on it and we will reply.</div>
            </div>        
    </div>
    </br></br>
    <div class="faq">
       <div class="faq_question">What services do you offer?</div>
            <div class="faq_answer_container">
               <div class="faq_answer">
    We are a production and management company, so our services for management would include planning your event, assisting your design from concept to completion, and liaising with various other companies, venue and suppliers. As a production company our services include anything to change the overall look of a venue from e.g. draping, lighting, theming, music, PA systems, pyrotechnics, Mandaps, table decorations, floral arrangements etc.</div>
            </div>        
    </div>
    </br></br>
    
    <div class="faq">
       <div class="faq_question"> What areas do you work in?</div>
            <div class="faq_answer_container">
               <div class="faq_answer">
    All london postcodes
</div>
            </div>        
    </div>
    </br></br>

    

    
    

   

 </div>

</div>

<script>
 $(document).ready(function() {
 
    $('.faq_question').click(function() {
 
        if ($(this).parent().is('.open')){
            $(this).closest('.faq').find('.faq_answer_container').animate({'height':'0'},500);
            $(this).closest('.faq').removeClass('open');
 
            }else{
                var newHeight =$(this).closest('.faq').find('.faq_answer').height() +'px';
                $(this).closest('.faq').find('.faq_answer_container').animate({'height':newHeight},500);
                $(this).closest('.faq').addClass('open');
            }
 
    });
 
});
</script>