<div class="row">
  <div class="small-6 columns small-offset-3">
    <img id="logoimg" src="images/final-logo.png">
  </div>
</div>

<div class="row">
  <div id = "header_title" class="small-6 columns small-offset-3">
    <h4>Family-run service for any size event</h4>
  </div>
</div>



<div id ="frontbanner">

  <div class="row">
   <div id="frontbannertext" class="small-9 small-centered columns">
    <h2>More stuff about the website and what it does, </br>
    Also more stuff here.</h2>


   </div>
  </div>
  
</div>

<div id="frontdetails">
  <div class="row">
    <div class="large-3 columns">row1</div>
  </div>
  <div class="row">
    <div class="large-3 columns">row2</div>
  </div>
</div>



