/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require_self
 */

 @import "foundation_and_overrides";

 html {
  font-family: 'arial', serif;
  height: 100%;
  // padding-bottom: 400px;
  // background-color: blue;
}

body {
  font-family: 'arial', serif;
  height: 100%;
  
}


.panel {
  background-color: #728CB0 ;
  border-radius: 3px;
  box-shadow: 3px 3px 3px;
}

.panel2 {
  background-color: #C3E7F1 ;
  border-radius: 3px;
  box-shadow: 3px 3px 3px;
}


.none {
  display: none;
}




.title-bar {
  background: #728CB0;
}

.top-bar {
  background: #5FAABE; }
  .top-bar ul {
    background: #5FAABE; }
    .top-bar ul li {
      background: #5FAABE;
      color: black; }
      .top-bar ul li a {
        color: black;
        text-decoration: none; }

        .menu-text {
          color: #fff; }
          @media only screen and (max-width: 40em) {
            .menu-text {
              display: none !important; } }

              @media only screen and (min-width: 40em) {
                .top-bar .menu:last-child {
                  border-left: 1px solid #4e4e4e; }

                  .top-bar .menu:first-child {
                    border-left: none; }

                    .top-bar .menu li:not(:last-child) {
                      border-right: 1px solid #4e4e4e; } }
                      .dropdown.menu .submenu {
                        border: none; }

                        .dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
                          border-color: #fff transparent transparent; }

                          .is-drilldown-submenu-parent > a::after {
                            border-color: transparent transparent transparent #fff; }

                            .js-drilldown-back::before {
                              border-color: transparent #fff transparent transparent; }



#new_user_form {
  text-align: center;
}


@media screen and (max-width: 600px) {
  .nomobile {
    visibility: hidden;
    display: none;
  }
  #frontbannertext1 {
    font-size: 10px;
  }
}

table {
  border: 4px solid black;
  td {
    padding: 30px;
    text-align: center;
  }
}

.outerform {
  margin: 0 auto;
  float: clear;
  max-width: 500px;
  text-align: center;
}
.subcatholder {
  border:2px solid black;
  text-align: right;
  padding: 5px;
  padding-right: 15px;
}

.btn {
  background: #5FAABE;
  background-image: -webkit-linear-gradient(top, #5FAABE, #5FAABE);
  background-image: -moz-linear-gradient(top, #5FAABE, #5FAABE);
  background-image: -ms-linear-gradient(top, #5FAABE, #5FAABE);
  background-image: -o-linear-gradient(top, #5FAABE, #5FAABE);
  background-image: linear-gradient(to bottom, #5FAABE, #5FAABE);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: black;
  font-size: 15px;
  padding: 9px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#subcatheader {
  text-align: center;
  
}

.aboutus {
  width: 70%;
  height: auto;
  margin: 0 auto;
}
     

.faq_question {
    margin: 0px;
    padding: 0px 0px 5px 0px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}
 
.faq_answer_container {
    height: 0px;
    overflow: hidden;
    padding: 0px;
}     

#faqheader {
  text-align: center;
}                    

.border-right-sub {
  border-right: 1px solid black;
}

#new_event {
  text-align: center;
}

#summary_even {
  margin-right: 10px;
}
