// Place all the styles related to the Statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// * {

// border: 1px solid black;

// }

html {
  // font-family: 'Libre Baskerville', serif !important;
  html, body {
      height: 91%;

  }
}

#new_user_form {
  text-align: center;
}

#logoimg {
  display: block;
  margin: 0 auto;
  max-height: 200px;
  width: auto;

}

#header_title h4 {
  text-align: center;
}

#profilecontainer {
 
  text-align: center;
  padding: 15px;
}


#footer {
  background-color: #728CB0 ;
  // position: fixed;
  // left: 0px;
  // bottom: 0px;
  // width: 100%;
  // height: 140px;
  padding: 8px;
  img {
    padding: 10px;
  }
}

#frontbanner {
  height: 300px;
  width: 100%;
  background: url(/images/banner1.png) no-repeat center center fixed;
  border: 1px solid black;
  background-size: cover;
}

#frontbanner2 {
  height: 400px;
  width: 100%;
  border: 1px solid black;
}

#frontbannertext {
  text-align: center;
  padding-top: 100px;
  vertical-align: text-top;
}

#frontdetails {
  height: auto;
  width: 100%;
  border: 1px solid black;
  text-align: center;
}


#profile_div {
  text-align: center;
  min-height: 100%;
  margin-top: 20px;
}


.ind_event {
  border:1px solid black;
}

.footer_icon {
  height: 100px;
  width: 100px;
}

.footer_element {
  float:left;
  text-align: center;
}


#new_event {
  text-align: center;
}

#outerform {
  margin: 0 auto;
  float: clear;
}

.field_holder {
  width: 80%;
  margin: 0 auto;
  float: clear;
  text-align: center;
}

#eventsheader {
  text-align: center;
}

#eventsholder {
  min-height: 600px;
  li {
    list-style: none;
  }
}

#welcome {
  padding-right: 10px;
}




