<div id="footer">
<div class="row">
<div class="social-buttons"><a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a><a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a><a href="#" class="social-button google"><i class="fa fa-google"></i></a><a href="#" class="social-button skype"><i class="fa fa-skype"></i></a>
  </div>
</div>
</div>

<!-- 

  <div id="footer">
    <div class="row">
      
      <div class="small-12 medium-6 columns"><p class="footer_p">info@littletolarge.com</p></div>
      <div class="small-12 medium-6 columns end"><p class="footer_p">Cedar Avenue, East Barnet, London, EN4 8XX</p></div>
    </div>
  </div>
 -->
