<div id="footer">
  
  <div class="row">
    <div class="large-6 columns">Coluum ondec irucgeiruger cericuhercieruc</div>
    <div class="large-6 columns"> hierucbreihcbelrkjhcbwkjehb jwhrcbekjrhb</div>
  </div>

</div>
