<div id="footer">

 <!--  <div class="row">
    <div class="small-12 small-centered large-3 small-centered columns">
        <%= image_tag ('email_icon1.png'), :class => "footer_icon" %>
      <p>info@ltl.com</p>
   
  </div>

  <div class="small-6 large-centered columns">
      <%= image_tag ('location_1.png'), :class => "footer_icon" %>
      <p>Cedar Avenue, East Barnet, London, EN4 8XX</p>
    </div>
    
  </div> -->
</div><!-- row -->


</div>
