<div id="footer">

  <div class="row">
    <div class="small-6 large-centered columns">
      <div class="footer_element">
        <%= image_tag ('email_icon1.png'), :class => "footer_icon" %>
      </div>
      <div class="footer_element">
      <p>info@ltl.com,</br>enquiries@ltl.com </br>fb.com/ltl, </br>@ltl</p>
    </div>
  </div>

  <div class="small-6 large-centered columns">
    <div class="footer_element">
      <%= image_tag ('location_1.png'), :class => "footer_icon" %>
    </div>
    <div class="footer_element">
      <p>Cedar Avenue,</br>East Barnet, </br>London, </br>EN4 8XX</p>
    </div>
  </div>
</div><!-- row -->


</div>
